<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description title">
Golang has become a critical tool in the arsenal of sofware development teams across Canada.
</p>

<p itemprop="description">
Rated the "Most promising programming language" of 2018 in a recent JetBrains survey,
the language has grown by leaps and bounds in the last year.
Communities from coast to coast have popped up to support the language,
and it’s become clear that there’s a strong appetite for a conference that can bring everybody together.
</p>

<p itemprop="description">
Gocon Canada seeks to do just that.
We’d love to work with you to grow the bonds between communities.
Our goal  is to host an event with strong technical discussions and plenty of opportunities to network,
right here in Canada.
</p>

<p itemprop="description">
Gocon Canada is the first Go conference in Canada. From the community for the community.
</p>
