<h2 class="section-title">{{ .titles.coc }}</h2>

<p>All delegates, speakers, sponsors and volunteers at any this event are required to agree with the <a href="https://golang.org/conduct" target="_blank">Go Community Code of Conduct</a>.</p>

<p><h5>Summary:</h5></p>

<p>
 Our conference will include people from many different backgrounds.
 Organizers are committed to providing a friendly, safe and welcoming environment for all, regardless of gender identity and expression, sexual orientation, disabilities, neurodiversity, physical appearance, body size, ethnicity, nationality, race, age, religion, or similar personal characteristics.
</p>

<p><h5>These are the values to which people attending this event should aspire:</h5></p>

  <ul class="coc">
    <li>Be friendly and welcoming</li>
    <li>Be patient
        <ul>
            <li>Remember that people have varying communication styles and that not everyone is using their native language. (Meaning and tone can be lost in translation.)</li>
        </ul>
    </li>
    <li>Be thoughtful
        <ul>
            <li>Productive communication requires effort. Think about how your words will be interpreted.</li>
            <li>Remember that sometimes it is best to refrain entirely from commenting.</li>
        </ul>
    </li>
    <li>Be respectful
        <ul>
            <li>In particular, respect differences of opinion.</li>
        </ul>
    </li>
    <li>Be charitable
        <ul>
            <li>Interpret the arguments of others in good faith, do not seek to disagree.</li>
            <li>When we do disagree, try to understand why.</li>
        </ul>
    </li>
    <li>Avoid destructive behavior:
        <ul>
            <li>Derailing: stay on topic; if you want to talk about something else, start a new conversation.</li>
            <li>Unconstructive criticism: don't merely decry the current state of affairs; offer—or at least solicit—suggestions as to how things may be improved.</li>
            <li>Snarking (pithy, unproductive, sniping comments)</li>
            <li>Discussing potentially offensive or sensitive issues; this all too often leads to unnecessary conflict.</li>
            <li>Microaggressions: brief and commonplace verbal, behavioral and environmental indignities that communicate hostile, derogatory or negative slights and insults to a person or group.</li>
        </ul>
    </li>
  </ul>

<p>
People are complicated. You should expect to be misunderstood and to misunderstand others; when this inevitably occurs, resist the urge to be defensive or assign blame. Try not to take offense where no offense was intended. Give people the benefit of the doubt. Even if the intent was to provoke, do not rise to it. It is the responsibility of all parties to de-escalate conflict when it arises.
</p>
