<h2 class="section-title">{{ .titles.mailinglist }}</h2>

<p>Subscribe to our mailing list if you want to receive updates about the event.</p>
<form action="https://gocon.us19.list-manage.com/subscribe/post?u=d274543390efb8d84fd2cea54&amp;id=8d23d65460" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form subscribe-form" target="_blank" novalidate>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d274543390efb8d84fd2cea54_8d23d65460" tabindex="-1" value=""></div>

    <div class="control-group control-group-name">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail address" required>
    </div>

    <div class="control-group control-group-email">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-send">
    </div>
</form>
