<nav id="nav">
  <ul class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
      <li class="nav-item">
        <a href="#{{ $section }}" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
          {{ index $.Site.Params.Titles $section }}
        </a>
      </li>
    {{ end }}
      <li class="nav-item">
        <a href="https://twitter.com/gocon2019" title="twitter" class="nav-link" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
      </li>
  </ul>
</nav>

<hr>
