{{ define "header" }}
{{ partial "hero" . }}
{{ end }}

{{ define "main" }}
{{ range $.Site.Pages }}
    {{ if or (eq .URL "/about/") (eq .URL "/tickets/") (eq .URL "/sponsorship/") }}
        <div class="section" id="{{ .Params.ID }}">
            <div class="container">
                <div class="content">
                    <h2>{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            </div>
        </div>

        <hr/>
    {{ end }}
{{ end }}


{{ partial "mailinglist" . }}
{{ end }}
