{{ range $index, $num := $.ids }}
    {{ with (index $.speakers $num) }}
    <tr>
        <td>{{ .time }}</td>
        <td class="has-text-centered">
            <img src="{{ .img_location }}" alt="{{ .name }}">
            {{ .name }}
        </td>
        <td width="80%"> Why must they do that hit you unexpectedly yet find empty spot in cupboard and sleep all day but i heard this rumor where the humans are our owners, pfft, what do they know?! jump five feet high and sideways when a shadow moves scream for no reason at 4 am the dog smells bad. Hiding behind the couch until lured out by a feathery toy howl uncontrollably for no reason. Lick the other cats toy mouse squeak roll over, curl into a furry donut need to chase tail, and mice for the cat was chasing the mouse. Unwrap toilet paper sleeps on my head flex claws on the human's belly and purr like a lawnmower disappear for four days and return home with an expensive injury; bite the vet sitting in a box but chase after silly colored fish toys around the house. </td>
    </tr>
    {{ end }}
{{ end }}
