{{ range $index, $num := $.ids }}
    {{ with (index $.speakers $num) }}
    <tr class="speaker">
        <td class="time-cell">{{ .time }}</td>
        <td class="has-text-centered">
            <span class="is-hidden-mobile">
                <img src="{{ .img_location }}" alt="{{ .name }}">
                <h4 class="speaker-name">{{ .name }}</h4>
                {{ if .twitter }}
                <a href="https://twitter.com/{{ .twitter }}" target="_blank" class="twitter"><i class="fab fa-twitter-square"></i> {{ .twitter }}</a>
                {{ end }}
            </span>
        </td>
        <td min-width="80%">
            <span class="is-hidden-tablet">
                <img src="{{ .img_location }}" alt="{{ .name }}">
                <h4 class="speaker-name">{{ .name }}</h4>
                {{ if .twitter }}
                <a href="https://twitter.com/{{ .twitter }}" target="_blank" class="twitter"><i class="fab fa-twitter-square"></i> {{ .twitter }}</a>
                {{ end }}
            </span>
            <h3>{{ .title }}</h3> {{ .description }}
        </td>
    </tr>
    {{ end }}
{{ end }}
