{{ define "head" }}
<script src='https://www.google.com/recaptcha/api.js?render=6Lf4HokUAAAAAERTH0_TYGv-Z_8-OuTlrPUEeJiM'></script>
{{ end  }}

{{ define "main" }}
<div class="container">
    <div class="content">
        <h2 class="section-title">{{ .Title }}</h2>

        <p>If you have any questions or feedback please feel free to contact us using this feedback form</p>

        <form enctype="multipart/form-data" method="post" action="https://us-central1-goconca-1538699125018.cloudfunctions.net/contact-function" id="feedback-form" class="form">
            <input class="input" type="hidden" name="captcha-token" id="captcha-token">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="name">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" id="name" placeholder="Your name">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="email">E-mail (optional)</label>
                        <div class="control">
                            <input class="input" type="email" name="email" id="email" placeholder="Your e-mail">
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="message">Message</label>
                        <div class="control">
                            <textarea class="textarea" name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <a class="button is-warning is-pulled-right is-loading" id="submit-button">
                                <span class="icon is-small">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span>Send</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{ end  }}
