<div class="columns">
  <div class="column">
    <table class="table is-fullwidth is-hoverable schedule">
      {{ $speakers := (sort $.Site.Data.speakers "website_order" "asc") }}
      {{ $colspan := 2 }}
      <tbody>
        <tr class="registration"> <td colspan={{ $colspan }}>8:00</td> <td>Registration</td> </tr>
        <tr class="opening"> <td colspan={{ $colspan }}>9:00</td> <td>Opening</td> </tr>

        {{ partial "schedule-speakers" (dict "context" . "ids" (seq 0 2) "speakers" $speakers) }}

        <tr class="break"> <td colspan={{ $colspan }}>11:00</td> <td>Break</td> </tr>

        {{ partial "schedule-speakers" (dict "context" . "ids" (seq 3 4) "speakers" $speakers) }}

        <tr class="lunch"> <td colspan={{ $colspan }}>12:00</td> <td>Lunch</td> </tr>

        {{ partial "schedule-speakers" (dict "context" . "ids" (seq 5 7) "speakers" $speakers) }}

        <tr class="break"> <td colspan={{ $colspan }}>15:00</td> <td>Break</td> </tr>

        {{ partial "schedule-speakers" (dict "context" . "ids" (seq 8 9) "speakers" $speakers) }}

        <tr class="break"> <td colspan={{ $colspan }}>16:15</td> <td>Break</td> </tr>

        {{ partial "schedule-speakers" (dict "context" . "ids" (seq 10 10) "speakers" $speakers) }}

        <tr class="raffle"> <td colspan={{ $colspan }}>17:00</td> <td>Raffle + Closing</td> </tr>
      </tbody>
    </table>
  </div>
</div>
