<section class="hero is-primary is-gocon is-bold is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{ .Site.Params.Name }}
            </h1>
            <h2 class="subtitle">
                {{ .Site.Params.Date }},
                {{ .Site.Params.Venue }},
                {{ .Site.Params.City }}
            </h2>

            <img class="mascot" src="/img/mascot.svg" alt="mountie-gopher-mascot">
        </div>
    </div>
</section>
