<div class="section">
    <div class="container">
        <div class="content" id="mailinglist">
            <h2 class="section-title">Subscribe for updates</h2>

            <p>Subscribe to our mailing list if you want to receive updates about the event.</p>
            <form action="https://gocon.us19.list-manage.com/subscribe/post?u=d274543390efb8d84fd2cea54&amp;id=8d23d65460" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d274543390efb8d84fd2cea54_8d23d65460" tabindex="-1" value=""></div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail address" required aria-label="E-mail">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-warning">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
