<nav class="navbar">
</nav>

<nav class="navbar gocon-nav is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i>
            </a>

            {{ range $.Site.Params.Nav }}
            <a class="navbar-item" href="{{ .Url }}" target="{{ .Target }}">
                {{ if .Icon }}
                <i class="fas {{ .Icon }}"></i>
                &nbsp;
                {{ end }}
                {{ .Title }}
            </a>
            {{ end }}
        </div>
    </div>
</nav>
